body {
    text-align: center;
    font-size: 30px;
  }
  
  header {
    border: solid 1px red;
    width: 800px;
    height: 200px;
  }
  
  .nav-bar {
    display: flex;
    justify-content: space-between;
    width: 800px;
    height: 400px;
  }
  
  nav {
    border: solid 1px orange;
    width: 100px;
    height: 400px;
  }
  
  section {
    border: solid 1px orange;
    width: 700px;
    height: 400px;
  }
  
  footer {
    border:  solid 1px gray;
    width: 800px;
    height: 200px;
  }